# Ignore node_modules directory
node_modules/

# Ignore package-lock.json file
package-lock.json

# Ignore built output
dist/

# Ignore environment variables file
.env

# Ignore TypeScript build artifacts
*.js
*.js.map

# Ignore editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore logs and temporary files
logs/
*.log
*.swp

main.tf
.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info
*.tfvars

build